<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Notification</title>
</head>

<body>
  <h2 id="rescue-area"></h2>
  <img id="rescue-img">
  <input id="rescue-submit" type="button" value="구조요청">
  {{ area_name|json_script:"area-name" }}
  <script type="module">
    const areaName = JSON.parse(document.getElementById('area-name').textContent);
    document.querySelector("#rescue-area").textContent = "구조구역" + areaName;

    const socket = new WebSocket(
      "ws://"
      + window.location.host
      + "/ws/models/"
      + areaName
      + "/"
    );

    socket.onopen = function (e) {
      // console.log(e);
      console.log("서버와 연결되었습니다.");
    };

    socket.onmessage = function (e) {
      console.log(e);
      console.log("이벤트가 발생했습니다")
      // const data = JSON.parse(e.data);
      // console.log(data);
      // document.querySelector('#rescue-image').src = data.image
    };

    // export default {
    //   name: "DashBoardAlarmCard",
    //   props: {
    //     alarmList: Array
    //   },
    //   methods: {
    //     createWebSocket() {
    //       socket.onopen = function (e) {
    //         console.log('서버와 연결되었습니다.')
    //       };
    //     },
    //   },
    //   created() {
    //     this.createWebSocket()
    //   }
    // }



  </script>
</body>

</html>